@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");
@font-face {
  font-family: "benetti";
  src: url(./assets/BenettigroteskfreeRegular-ZVvZ3.otf);
}
@font-face {
  font-family: "vestige";
  src: url(./assets/VestigeGroteskRegular-4B2lY.otf);
}

#lol{
  font-family: "vestige";
}