@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");
@font-face {
  font-family: "benetti";
  src: url(./assets/BenettigroteskfreeRegular-ZVvZ3.otf);
}
@font-face {
  font-family: "vestige";
  src: url(./assets/VestigeGroteskRegular-4B2lY.otf);
}
.wrapper {
  height: 100vh;
  width: 100vw;
  font-family: "Nunito sans";
}
.header {
  padding: 0rem 1.5rem;
  font-size: 1.2rem;
  background-color: #e4e4e4;
  border-radius: 0 0 1rem 1rem;
}
.header li:hover {
  cursor: pointer;
  border-bottom: rgb(44, 44, 44) 1px solid;
}
.logo {
  font-family: "vestige";
  font-size: 2.5rem;
}
